header {
    width: 100vw;
    background-color: #21222A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px 24px 32px;
    box-sizing: border-box;
}

.header-react{
    display: flex;
}

.app-logo {
    width: 60px;
}

.react-text {
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #61DAFB;
}

.header-project-name {
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #DEEBF8;
    margin-left: 24px;
    text-align: end;
}
