* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282D35;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100vw;
}

nav {
  width: 100vw;
  background-color: #21222A;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 24px 32px 24px 32px;
}

.nav--logo-text{
  margin: 0;
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--title{
  margin: 0;
  margin-left: 24px;
  color: #DEEBF8;
  font-weight: 600;
}

.nav--logo{
  height: 30px;
  margin-right: 7px;
}


main {
  padding: 57px 27px;
  color: white;
  background-image: url("./react-icon-large.png");
  background-repeat: no-repeat;
  background-position: right;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}

.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.main--facts > li::marker {
  color: #61DAFB;
  font-size: 1.5em;
}